---
import Layout from '@/layouts/Layout.astro'
import { Flashlight } from '@/components/Flashlight'
---

<Layout title="404">
  <div class="max-w-[800px] mx-auto py-16 px-4 md:px-8">
    <h1 class="text-[6rem] md:text-[12rem] leading-tight font-bold text-center">404</h1>
    <h3 class="text-[1rem] md:text-[3rem] leading-tight">Hmm...</h3>
    <p class="text-3xl mb-16 text-gray-800/70 dark:text-gray-200/70">
      It looks like one of the developers fell asleep.
    </p>
    <a class="text-accent text-xl md:text-2xl inline-flex" href="/"
      ><i class="iconfont icon-arrow-left-up"></i>
      <span class="ml-2">Back to Home</span></a
    >
  </div>
  <!--<Flashlight client:only="react" />-->
</Layout>
