---
interface Props {
  class?: string
}

const { class: class_name } = Astro.props
---

<span class="relative" class:list={[class_name]}>
  <span class="absolute -z-1 top-[30%] left-0 w-full h-[40%] bg-accent/30 -rotate-3"></span>
  <slot />
</span>
